body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.menu_up {
    background-color: #EFEFEF;
}

.menu_up_items {
    margin: 0;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu_up_items li {
    padding-left: 15px;
}

.menu_up_items li:first-child {
    padding-left: 0;
}

.menu_up_items li a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.header_middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    background-image: url(../img/logo.png);
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.logo_text {
    font-weight: 700;
    font-size: 36px;
    color: #66C05D;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.contact {
    display: flex;
    align-items: center;
}

.number {
    font-size: 16px;
    margin-right: 40px;
}

.call {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    border: 2px solid #66C05D;
    border-radius: 2em;
    padding: 10px 20px;
}

.menu_middle {
    padding: 30px 0;
    border-top: 1px solid #EFEFEF;
}

.menu_middle_item {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu_middle_item li {
    padding-left: 3em;
}

.menu_middle_item li:first-child {
    padding-left: 0;
}

.menu_middle_item li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.banner {
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 200px;
    color: #ffffff;
}

.banner_header {
    font-weight: 700;
    font-size: 48px;
}

.banner_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 308px;
    margin-bottom: 40px;
}

.banner_link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid #ffffff;
    border-radius: 2em;
    padding: 10px 40px;
}

.main {
    background-color: #EFEFEF;
    padding-bottom: 100px;
}

.main_h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.products_item {
    background-color: #ffffff;
    margin-left: 40px;
    padding: 15px 25px 30px;
    text-align: center;
}

.products_item:first-child {
    margin-left: 0;
}

.products_item_text {
    font-size: 14px;
    line-height: 20px;
    max-width: 195px;
    color: #333333;
}

.products_item_price {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.05em;
}

.products_item_btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #66C05D;
    border-radius: 2em;
    padding: 10px 40px;
}

.advertisement {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.bonus, .address {
    background-color: #66C05D;
    color: #ffffff;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 30px;
}

.bonus {
    justify-content: space-between;
    margin-right: 40px;
}

.bonus_content {
    margin-right: 55px;
}

.bonus_h3, .address_h3 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
}

.bonus_text, .address_text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}

.bonus_text {
    max-width: 230px;
}

.bonus_input, .address_link {
    border-radius: 3em;
    font-size: 14px;
}

.bonus_input {
    border-color: transparent;
    padding: 6px 15px;
    width: 100%;
    max-width: 185px;
}

.address {
    justify-content: flex-start;
}

.address_text {
    max-width: 160px;
}

.address_link {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #FFFFFF;
    padding: 6px 25px;
    display: block;
}

.footer_up {
    margin: 40px 0;
}

.footer_up_box {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social li {
    padding-left: 25px;
}

.social li:first-child {
    padding-left: 0;
}

.social_item {
    width: 40px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    border: 2px solid #66C05D;;
}

.youtube {
    background-image: url(../img/youtube.png);
}

.vk {
    background-image: url(../img/vk.png);
}

.facebook {
    background-image: url(../img/facebook.png);
}

.instagram {
    background-image: url(../img/instagram.png);
}

.contact_address {
    font-size: 14px;
    margin-right: 80px;
}

.footer_bottom {
    background-color: #EFEFEF;
}

.footer_bottom_box {
    display: flex;
    justify-content: space-between;
}

.footer_bottom_box p {
    font-size: 12px;
    color: #828282;
    padding: 20px 0;
}